<div class="container">
 <h1>Edit Video:</h1>
  <div class="jumbotron">

   <iframe width="1020" height="250" src= "http://www.youtube.com/embed/<%=YoutubeID.from(@video.url) %>" frameborder="0" allowfullscreen></iframe><br><br><br>

<%= render 'video_form'%>

<%= link_to "Delete Video", user_video_path(current_user, @video), :method => "delete", :class => "text-danger pull-right" %>

</div> <!--jumbotron-->
</div> <!--container-->
