<div class="container">
  <h1>Edit Video:</h1>
  <div class="jumbotron">

<%= render 'video_form'%>

<%= link_to "Delete Video", user_video_path(current_user, @video), :method => "delete", :class => "text-danger pull-right" %>

</div> <!--jumbotron-->
</div> <!--container-->
