<div class="container">
<%= render 'errors_messages' %>

  <h1 style="display: inline-block">New Video:</h1>

  <%= link_to "Cancel / go back", user_videos_path(current_user), :class => "pull-right", :style => "padding-top: 2.5em;"%>

  <div class="jumbotron">

  <%= render 'video_form'%>

  </div> <!--jumbotron-->
</div> <!--container-->

