<div class="container">
<%= render 'errors_messages' %>
  <h1>New Video:</h1>
  <div class="jumbotron">

  <%= render 'video_form'%>
  <br><br>

  <%= link_to "<< Back to all videos", user_videos_path(current_user)%>

  </div> <!--jumbotron-->
</div> <!--container-->

