
<div class="container">
<h4>Dance Styles:</h4>

  <div class="jumbotron col-sm-6">
      Add a new style here:
       <input id="style_input" type="text"  style="height: 2em;">
      <!--CSRF addition-->
       <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
       <!--End CSRF addition-->
        <button id="style_button" class="btn btn-info pull-right">Add</button><br><br>
        (Or click "x" to delete an existing style) <br><br>

    <div id="styles_list" class="row col-sm-4">
      <% @styles.order(:name).each do |style| %>
        <li class="label label-success checkbox-inline no_indent" data-id="<%=style.id%>"><%=style.name%></li><span id="style_delete" data-id="<%=style.id%>">x</span> <br> 
      <% end %>
  </div>
</div>