<div class="container">
  <h1>Edit Step:</h1>
  <div class="jumbotron">

  <%= render 'step_form'%>

  <%= link_to "Delete Step", user_step_path(current_user, @step), :method => "delete", :class => "text-danger pull-right" %>

  </div> <!--jumbotron-->
</div> <!--container-->

