<div class="container">
   <%= render 'errors_messages' %>
   
  <h1 style="display: inline-block">New Step:</h1>

  <%= link_to "Cancel / go back", user_steps_path(current_user), :class => "pull-right", :style => "padding-top: 2.5em;"%>

  <div class="jumbotron">

  <%= render 'step_form'%>

  </div> <!--jumbotron-->
</div> <!--container-->
