<div class="container">
   <%= render 'errors_messages' %>
   
  <h1>New Step:</h1>
  <div class="jumbotron">

  <%= render 'step_form'%>
  <br><br>

   <%= link_to "<< Back to all steps", user_steps_path(current_user)%>

  </div> <!--jumbotron-->
</div> <!--container-->
